<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point = "org.eclipse.emf.ecore.validation_delegate">
    <delegate uri = "http://www.eclipse.org/emf/2002/Ecore/OCL"
       class = "org.eclipse.ocl.common.internal.delegate.OCLValidationDelegateMapping" />
  </extension>

  <extension point = "org.eclipse.emf.ecore.setting_delegate">
    <factory uri = "http://www.eclipse.org/emf/2002/Ecore/OCL"
       class = "org.eclipse.ocl.common.internal.delegate.OCLSettingDelegateMapping" />
  </extension>

  <extension point = "org.eclipse.emf.ecore.invocation_delegate">
    <factory uri = "http://www.eclipse.org/emf/2002/Ecore/OCL"
       class = "org.eclipse.ocl.common.internal.delegate.OCLInvocationDelegateMapping" />
  </extension>
 
  <extension point = "org.eclipse.emf.ecore.query_delegate">
    <factory uri = "http://www.eclipse.org/emf/2002/Ecore/OCL"
       class = "org.eclipse.ocl.common.internal.delegate.OCLQueryDelegateMapping" />
  </extension>
  
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.ocl.common.internal.preferences.CommonPreferenceInitializer"/>
   </extension>
  
</plugin>
