<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

 <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester id="org.eclipse.ocl.examples.ui.propertyTester"
          class="org.eclipse.ocl.examples.ui.OCLPropertyTester"      
          namespace="org.eclipse.ocl.examples.ui"
          properties="resourceSetAvailable"
          type="java.lang.Object"/>
 </extension>

   <extension point="org.eclipse.ui.views">
      <category id="org.eclipse.ocl.examples.ui.views" name="%MF_OCL"/>
   </extension>

   <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu id="org.eclipse.ocl.examples.ui.Menu" label="%MF_OCL">
            <separator name="load" visible="true"/>
            <separator name="save" visible="true"/>
            <separator name="set" visible="true"/>
            <separator name="show" visible="true"/>
			<visibleWhen checkEnabled="false">
				<test property="org.eclipse.ocl.examples.ui.resourceSetAvailable" forcePluginActivation="true"/>
			</visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
