<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <page id="org.eclipse.ocl.common.ui.preferences.ProjectPreferencePage"
            name="%MF_OCL"
            class="org.eclipse.ocl.common.ui.internal.preferences.CommonProjectPreferencePage"/>
      <page id="org.eclipse.ocl.common.ui.preferences.SyntaxColoringPreferencePage"
            category="org.eclipse.ocl.common.ui.preferences.ProjectPreferencePage"
            name="%MF_SyntaxColoring"
            class="org.eclipse.ocl.common.ui.internal.preferences.BlankProjectPreferencePage"/>
      <page id="org.eclipse.ocl.common.ui.preferences.TemplatePreferencePage"
            category="org.eclipse.ocl.common.ui.preferences.ProjectPreferencePage"
            name="%MF_Templates"
            class="org.eclipse.ocl.common.ui.internal.preferences.BlankProjectPreferencePage"/>
   </extension>
   <extension point="org.eclipse.ui.propertyPages">
      <page id="org.eclipse.ocl.common.ui.properties.ProjectPropertyPage"
            name="%MF_OCL"
            class="org.eclipse.ocl.common.ui.internal.preferences.CommonProjectPreferencePage">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
         <filter name="open" value="true"/>
      </page>
   </extension>
</plugin>
